html,body{
    
}
body {  padding-top: 60px; 
}


.row{
    
    margin-left: 20px;
    
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="archives"] {
        padding: 0;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="ads"] {
        padding: 0;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
    }
}
/*blink css*/

/* @group Blink */
/*.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}*/
/*
#nav-mobile {
    lfist-style-type: none;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-width: 0 0 1px;
    border: 1px solid;
    background-color: #333;
}
*/

/*.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/
.label-default{
 color: aqua;
    text-decoration-color: black;
}
#shopfor a {
    color: aliceblue;
}

#navlist ul li a
{
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;
    
}
 #navlist a:hover:not(.active) {
    background-color: #111;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}



    /*.backg {
    background-color:rgb(92, 141, 180);
        
}*/
.brand-logo{
    margin-left: 10px;
}

/*.nav{
    margin-left: 20px;
}
.li{
    margin-left: 40px;
}*/
/*notifications page css*/
.webd{
    margin-top: 10px;
}
.courselist{ 
    margin-top: 10px;
    margin-left: 30px;
    
}
/*rss feed*/
/*body{
	font-family:"Trebuchet MS";
	font-size:12px;
	}
	a{
	color:#333333;
	text-decoration:none;
	}
	a:hover{ color:#0066CC; text-decoration:underline; font-weight:bold}
	hr{
	color: #dedede;
background-color: #dedede;
height: 1px;	}
       .vas{
	   float:left;
		width:270px;
		
		padding:10px;
	   }
	
      .title-head {
            
        font-size:18px;
        font-weight:bold;
        text-align:left;
        background-color:#006699;
		color:#FFFFFF;
	   
        padding:5px;
       
      }
      .feeds-links {
        
       
        text-align:left;
		
        padding:5px;
        border:1px solid #dedede;
      }
       
       .footer {
	   font-size:11px;
	   font-weight:bold;
	   font-family:Verdana, Arial, Helvetica, sans-serif;	  
        }*/

/*articles page css*/
.article{
    font-style: normal;
    font-size:16px;
    
    margin-left: 50px;
    margin-bottom: 100px;
    
}
.arti{
    font-style: italic;
}
/*about page css*/
.aboutme{
    /*margin-top: 40px;*/
    margin-bottom: 100px;
    
}
#about{

    margin-top: 50px;
    margin-left: 40px;
    /*margin-bottom: 100px;*/
}
#notifications a{
    color:black;
    
}
.content{
    font-style: italic;
    font-size: 14px;
    margin-left: 50px;
    
}
/*Contact Page Css*/
#contact{
    margin-bottom: 100%;
    
}
#contform{
    
}
.address{
    font-family: cursive;
    margin-bottom: 70px;
}
/*.navbar-right{
    float: right!important;

}*/

/*.listi{
    margin-top: 30px;
    margin-left: 10px;
    
}
*/
/*Notifications page*/


.para{
    margin-top: 20px;
}
.listofnot{
    
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.career{ 
/*margin-bottom: 60px;*/
}
.jobp{
    margin-left: 20px;
}
.section-content {
    padding: 5rem 0;
}
/*#what-we-do div card-block card-text{
    display: block;
    padding:1.25rem;
    box-sizing:inherit; 
    font-size: 16px;
}*/



.card-subtitle{
    font-family: cursive;
    font-size: 14px;
}
.page{
    margin-bottom: 100px;
}
/*
musicregister tabs css
*/
/*@media (max-width: @screen-xs-max) { 
    col-xs-12{
        margin-left: 20px;
    }

}*/
/*
#month{
    font-size: 16px;
*/
    
}
/*.footer {
  position: absolute;
  right: 0;
  left: 0;
    bottom: 0;
    width: 100%;
    
  
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}*/
.pagination{
    margin-top: 20px;
    /*margin-left: 60px;*/
    margin-bottom: 100px;
    
}
/*footer css*/

.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	/*text-transform: uppercase;*/
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
/*	margin-left: 0;*/
	/*padding-left: 0;*/
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}
.onlys{
    }
/*.service{
    margin-bottom: 50px;
    
}
.only{
    margin-top: 50px;
    margin-bottom: 60px;
    
}
.adf{
    
    display:block;
}*/
/*resonsive navbar*/
/*body.navbar-more-show  {
	overflow: hidden;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar {
    height: calc(100%);
	max-height: 300px;
	-webkit-transform: translate(0px, calc(-100% + 69px));
	transform: translate(0px, calc(-100% + 69px));
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
.navbar-more-overlay {
	background-color: rgba(102, 102, 102, 0.55);
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1029;
}
.navbar-more-show > .navbar-more-overlay {
	display: block;
}
.navbar-more-show > .navbar {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
	display: block;
	font-size: 1.8em;
}
.navbar-more {
	background-color: rgb(255, 255, 255);
	height: calc(100% - 69px);
	overflow: auto;
}
.navbar-more .navbar-form {
	border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    color: rgb(64, 64, 64);   
}
.navbar-more > .navbar-nav > li > a > span.menu-icon {
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 768px) {
	.navbar {
        height: auto;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
	.navbar-nav.mobile-bar {
		display: block;
		max-height: 64px;
		margin: 0px -15px;
	}
	.navbar-nav.mobile-bar > li > a > span.menu-icon {
		display: none;
	}
}*/